<div class="flex mb-2 bg-yellow-200">
  <div class="flex items-center ml-2 lg:ml-8">
    <img class="h-24 lg:h-32 my-2"
         [src]="league ? league.logo : 'assets/img/soccer_ball.png'"
         alt="Site Logo">
    <div class="ml-2 md:ml-4 my-2 text-red-700">
      <span class="font-bold text-lg">{{league ? league.name : 'Name'}}</span>
      <div class="flex items-center mb-1">
        <img class="h-8 mr-1" src="assets/img/soccer_ball.png" alt="Site Logo">
        <span>{{league ? league.country : 'Country'}}</span>
      </div>
      <div class="flex items-center mb-1">
        <img class="h-4 mr-1" src="assets/img/soccer_ball.png" alt="Site Logo">
        <span class="text-xs">{{league ? league.type: 'Stadium'}}</span>
      </div>
<!--      <span class="text-xs">{{league ? league.founded : 'Founded date'}}</span>-->
    </div>
  </div>
</div>

<div class="flex flex-col xl:flex-row">
  <div #fixturesContainer class="flex-grow xl:w-1/2 p-2 xl:mr-16 bg-green-100">
    <app-fixture-group *ngFor="let fixtureGroup of fixtureGroups"
                       [fixtureGroup]="fixtureGroup"
                       [isCompactView]="isCompactView">
    </app-fixture-group>
  </div>

  <!--  Top Scorers-->
  <div class="flex-grow xl:flex-grow-0 xl:w-1/2 mt-2 xl:mt-0 px-2 pb-2 bg-green-100">
   <app-league-top-scorers [leagueId]="leagueId"></app-league-top-scorers>
  </div>
</div>
