<div class="relative h-20 mb-2 px-2 py-1 flex items-center justify-between text-white text-sm rounded bg-dark-200 hover:bg-dark-300">
  <a class="absolute h-full w-full left-0"
     (click)="onClicked()"
     [routerLink]="['/team', this.team.teamName, this.team.id]">
  </a>
  <div class="flex flex-col items-center flex-grow">
    <img class="h-10"
         [src]="team.teamLogo ? team.teamLogo : '../../../assets/img/soccer_ball.png'"
         alt="Team Icon">
    <span>{{team.teamName}}</span>
  </div>

  <div class="ml-2 flex flex-col">
    <span class="h-8 w-8 py-1 text-center text-sm rounded bg-dark-500">T</span>
    <button class="heart favorite h-8 w-8 mt-2 py-1 "
       (click)="onFavouriteClicked($event)">
    </button>
  </div>
</div>
