<div class="mb-4 rounded overflow-hidden shadow-md bg-gray-700">
  <span class="flex p-2 font-bold text-md text-white">{{groupName}}</span>
  <table class="w-full table-fixed text-white text-sm">
    <thead>
    <tr class="bg-gray-900">
      <th class="w-12">#</th>
      <th class="w-3/5 sm:w-2/5 py-2">Team</th>
      <th class="py-2 hidden xxl:table-cell">Played</th>
      <th class="py-2 hidden xxl:table-cell">Won</th>
      <th class="py-2 hidden xxl:table-cell">Drawn</th>
      <th class="py-2 hidden xxl:table-cell">Lost</th>
      <th class="py-2 hidden xxl:table-cell">GD</th>
      <th class="py-2 hidden xxl:table-cell">Points</th>

      <th class="py-2 xxl:hidden">Pld</th>
      <th class="py-2 hidden sm:table-cell xxl:hidden">W</th>
      <th class="py-2 hidden sm:table-cell xxl:hidden">D</th>
      <th class="py-2 hidden sm:table-cell xxl:hidden">L</th>
      <th class="py-2 hidden sm:table-cell xxl:hidden">GD</th>
      <th class="py-2 xxl:hidden">Pts</th>
    </tr>
    </thead>
    <tbody class="bg-gray-600">
    <tr class="border-t border-gray-500" *ngFor="let teamStanding of groupStandings">
      <td class="text-center" [style]="{backgroundColor: getRankColor(teamStanding.description)}">{{teamStanding.rank}}</td>
      <td class="py-2 pl-2"><a class="link">{{teamStanding.teamName}}</a></td>
      <td class="py-2 text-center ">{{teamStanding.all.matchsPlayed}}</td>
      <td class="py-2 text-center hidden sm:table-cell">{{teamStanding.all.win}}</td>
      <td class="py-2 text-center hidden sm:table-cell">{{teamStanding.all.draw}}</td>
      <td class="py-2 text-center hidden sm:table-cell">{{teamStanding.all.lose}}</td>
      <td class="py-2 text-center hidden sm:table-cell">{{teamStanding.all.goalsFor - teamStanding.all.goalsAgainst}}</td>
      <td class="py-2 text-center">{{teamStanding.points}}</td>

    </tr>
    </tbody>
  </table>

  <div class="my-1">
    <div class="px-2 py-1 flex items-center" *ngFor="let descriptionPair of descriptionPairs">
      <span class="h-5 w-5 rounded border border-gray-300 bg-green-500" [style]="{backgroundColor: descriptionPair[1]}"></span>
      <span class="ml-2 text-sm text-white">{{descriptionPair[0]}}</span>
    </div>

  </div>
</div>
