<div class="mb-4 rounded bg-gray-800 overflow-hidden shadow-md">
  <span class="flex p-2 font-bold text-xl text-white bg-gray-700">Top Scorers</span>
  <!-- Content -->
  <div class="px-1 py-2 md:px-2">

    <div class="rounded overflow-hidden">
      <div class="flex items-center justify-between py-1 px-4 bg-gray-700">
        <div class="flex flex-grow">
          <!--    Name -->
          <span class="font-semibold text-white">Name</span>
        </div>
        <div class="flex">
          <div class="flex justify-center w-16 mr-2 rounded bg-gray-100">
            <!--    Goals -->
            <span class="py-1 font-semibold">Goals</span>
          </div>
          <div class="flex justify-center w-16 rounded bg-gray-100">
            <!--    Assists -->
            <span class="py-1 font-semibold">Assists</span>
          </div>
        </div>
      </div>

      <!--        TODO Add no top scorers message-->

      <div *ngIf="topScorers else noTopScorersView">
        <app-league-top-scorer
          *ngFor="let topScorer of topScorers"
          [topScorer]="topScorer">
        </app-league-top-scorer>
      </div>
    </div>


  </div>
</div>

<ng-template #noTopScorersView>
  <span class="ml-4 text-white">No top scorers</span>
</ng-template>
