<div class="mb-4 rounded bg-dark-600 shadow-md">
  <div class="p-2 flex justify-between items-center font-bold text-xl text-white rounded-t bg-dark-400">
    <span>Matches</span>
    <app-drop-down class="ml-2"
                   *ngIf="fixturePeriodOptions"
                   [options]="fixturePeriodOptions"
                   [isListPositionRight]="true"
                   (ItemClickedIndex)="onPeriodOptionClicked($event)">
    </app-drop-down>
  </div>
  <div class="px-1 py-2 md:px-2">
    <app-tab-toggle [buttonLabels]="toggleOptions"
                    (activeChanged)="onToggleButtonClicked($event)">
    </app-tab-toggle>

    <div class="mt-2" *ngIf="toggleIndex === 0">
      <app-fixture-group *ngFor="let fixtureGroup of nextFixtureGroups"
                         [fixtureGroup]="fixtureGroup"
                         [isCompactView]="true"
                         [showFixtureDates]="true">
      </app-fixture-group>
    </div>
    <div class="mt-2" *ngIf="toggleIndex === 1">
      <app-fixture-group *ngFor="let fixtureGroup of prevFixtureGroups"
                         [fixtureGroup]="fixtureGroup"
                         [isCompactView]="true"
                         [showFixtureDates]="true">
      </app-fixture-group>
    </div>
  </div>
</div>
