.tab-button {
  height: 2rem;
  @apply
  inline-flex
  items-center
  justify-center
  w-32
  px-2
  py-1
  rounded
  cursor-pointer
  font-semibold
  text-sm
  bg-gray-700
  text-white
  transition-colors
  duration-200
  ease-in-out;
}

.tab-button:hover {
  height: 2.25rem;
  @apply
  bg-gray-600
  text-white;
}

.tab-button:focus {
  @apply
  outline-none;
}

.tab-button.active {
  height: 2.25rem;
  @apply
  bg-gray-100
  text-black;
}

.tab-button.active:hover {
  @apply cursor-auto;
}

.tab-button.tab-button-left {
  @apply
  rounded-r-none;
}

.tab-button.tab-button-middle {
  @apply
  rounded-l-none
  rounded-r-none;
}

.tab-button.tab-button-right {
  @apply
  rounded-l-none;
}
