<div class="mb-2 text-white rounded bg-gray-800 overflow-hidden shadow-md">
  <span class="flex px-4 py-2 font-semibold text-white bg-gray-700">{{statName}}</span>
  <!--        Content -->
  <div>
    <div class="flex items-center justify-between py-1 px-4 border-t border-gray-500 bg-gray-600">
      <span class="text-center ml-2 text-sm">Home</span>
      <div class="flex justify-center w-20 rounded bg-gray-700">
        <!--              Stat value -->
        <span class="py-1 text-sm">{{homeValue}}</span>
      </div>
    </div>
    <div class="flex items-center justify-between py-1 px-4 border-t border-gray-500 bg-gray-600">
      <span class="text-center ml-2 text-sm">Away</span>
      <div class="flex justify-center w-20 rounded bg-gray-700">
        <!--              Stat value -->
        <span class="py-1 text-sm">{{awayValue}}</span>
      </div>
    </div>
    <div class="flex items-center justify-between py-1 px-4 border-t border-gray-500 bg-gray-600">
      <span class="text-center ml-2 text-sm">Total</span>
      <div class="flex justify-center w-20 rounded bg-gray-700">
        <!--              Stat value -->
        <span class="py-1 text-sm">{{totalValue}}</span>
      </div>
    </div>
  </div>
</div>
