<!--<div class="bg-black h-screen">-->
  <div class="">
    <app-sidebar></app-sidebar>
    <!--    <app-search></app-search>-->
<!--    <app-news></app-news>-->
<!--    <app-home-fixtures></app-home-fixtures>-->
    <div class="ml-0 pt-16 px-2 md:ml-64 md:pt-0 md:px-8 lg:px-16 xl:px-32 bg-black">
<!--    <div class="ml-0 md:ml-64 md:pt-0 bg-black">-->
<!--    <div class="">-->
      <app-search></app-search>
      <app-news></app-news>
      <app-home-fixtures></app-home-fixtures>
    </div>
  </div>
<!--</div>-->
