<div class="w-full md:w-64 fixed flex flex-col z-20"
     [ngClass]="{'md:h-screen' : isCollapsed, 'h-screen' : !isCollapsed}">
  <div class="h-16 p-4  flex justify-between md:justify-center items-center text-white cursor-pointer outline-none bg-green-500"
       (click)="onHomeClicked()">
    <div class="flex">
      <img class="h-12" src="assets/img/soccer_ball.png" alt="Site Logo">
      <span class="ml-2 font-semibold text-3xl tracking-tight">Footychan!</span>
    </div>

    <img class="w-8 md:hidden ml-2" src="assets/img/menu.png" alt="Site Logo"
         (click)="onMenuClicked($event)">
  </div>

  <div class="p-2 md:h-full transition ease-in-out transform md:translate-x-0 overflow-x-hidden overscroll-contain bg-gray-800"
       [ngClass]="{'-translate-x-full h-0' : isCollapsed, 'translate-x-0 h-full duration-200' : !isCollapsed}">



    <app-sidebar-team-item *ngFor="let team of teams"
                           [team]="team"
                           (clicked)="onFavoriteClicked()">
    </app-sidebar-team-item>

    <app-sidebar-league-item *ngFor="let league of leagues"
                             [league]="league"
                             (clicked)="onFavoriteClicked()">
    </app-sidebar-league-item>

    <app-sidebar-fixture-item *ngFor="let fixture of fixtures"
                              [fixture]="fixture"
                              (clicked)="onFavoriteClicked()">
    </app-sidebar-fixture-item>

  </div>
</div>
