<div class="rounded bg-dark-600 shadow-md">
  <div class="p-2 flex justify-between items-center font-bold text-xl text-white rounded-t bg-dark-400">
    <span>Statistics</span>
    <div class="ml-2 flex items-center">
      <app-drop-down *ngIf="leagueOptions"
                     [options]="leagueOptions"
                     [isListPositionRight]="true"
                     (ItemClickedValue)="onLeagueOptionClicked($event)">
      </app-drop-down>
      <app-drop-down class="ml-2"
                     *ngIf="seasonOptions"
                     [options]="seasonOptions"
                     [isListPositionRight]="true"
                     (ItemClickedValue)="onSeasonOptionClicked($event)">
      </app-drop-down>
    </div>
  </div>
  <div class="px-1 md:px-2 pt-2" *ngIf="!isLoading else loadingView">
    <div class="grid grid-cols-1 lg:grid-cols-2 xxl:grid-cols-3 gap-x-4" *ngIf="leagueOptions else noDataView">
      <app-team-stat *ngFor="let stat of activeTeamStatistics"
                     [statName]="stat.name"
                     [homeValue]="stat.home"
                     [awayValue]="stat.away"
                     [totalValue]="stat.total">
      </app-team-stat>
    </div>
  </div>
</div>

<ng-template #loadingView>
  <app-loader></app-loader>
</ng-template>

<ng-template #noDataView>
  <span>No data available</span>
</ng-template>
