/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
  @apply bg-gray-900;
}

button {
  @apply border border-gray-500 shadow;
}

.link {
  @apply
  underline
  cursor-pointer;
}

.link:hover {
  @apply
  underline
  text-green-300;
}

.heart {
  @apply inline-flex justify-center items-center rounded bg-gray-800;
}

.heart:after {
  content : url("assets/img/heart.png");
  transform: scale(.15);
}

.heart:hover {
  @apply bg-gray-900;
}

.heart:hover::after {
  content : url("assets/img/heart-add.png");
}

@media (hover: none) {
  .heart:hover {
    @apply bg-gray-800;
  }

  .heart:hover::after {
    content : url("assets/img/heart.png");
  }
}

.heart.favorite::after {
  content : url("assets/img/heart-added.png");
}

.heart.favorite:hover::after {
  content : url("assets/img/heart-remove.png");
}

@media (hover: none) {
  .heart.favorite:hover::after {
    content : url("assets/img/heart-added.png");
  }
}
