<div *ngIf="!isLoading else loadingView">
  <div *ngIf="team else teamErrorView">
    <div class="px-2 md:px-4 py-4 flex items-center rounded bg-dark-200 text-white">
      <div class="flex flex-col items-center">
        <img class="w-24" [src]="team.logo ? team.logo : '../../assets/img/soccer_ball.png'" alt="Team Logo">
        <button class="heart h-8 w-20 mt-2 py-1 " [class.favorite]="isFavorite"
                (click)="onFavouriteClicked($event)">
        </button>

      </div>

      <div class="flex flex-col ml-2 md:ml-4">
        <span class="font-bold text-2xl">{{team.name}}</span>
        <div class="flex items-center" *ngIf="!team.is_national">
          <img class="w-4 mr-1" src="../../assets/img/country.png" alt="Country Icon">
          <span class="text-sm">{{team.country}}</span>
        </div>
        <div class="flex items-center">
          <img class="w-4 mr-1" src="assets/img/stadium.png" alt="Stadium Icon">
          <span class="text-sm">{{team.venue_name}}</span>
        </div>
        <span class="text-sm" *ngIf="team.founded">Founded in {{team.founded}}</span>

      </div>
    </div>

    <div class="flex flex-col-reverse xl:flex-row my-4">
      <div class="w-full xl:w-3/5 xl:mr-8">
        <app-team-squad [teamId]="teamId"></app-team-squad>
        <app-team-statistics [teamId]="teamId"></app-team-statistics>

      </div>

      <div class="w-full xl:w-2/5">
        <app-matches [id]="teamId"
                     [fixtureType]="fixtureType">
        </app-matches>
      </div>
    </div>
  </div>
</div>

<ng-template #loadingView>
  <app-loader></app-loader>
</ng-template>

<ng-template #teamErrorView>
  <span class="text-white">Unable to load team</span>
</ng-template>

