<div *ngIf="team else loadingView">
  <div class="px-2 md:px-4 py-4 flex items-center rounded bg-gray-800 text-white">
    <div class="flex flex-col items-center">
      <img class="w-24" [src]="team.logo ? team.logo : '../../assets/img/soccer_ball.png'" alt="Team Logo">
      <a class="h-8 w-20 mt-2 py-1 rounded bg-gray-900 cursor-pointer"
         (click)="onFavouriteClicked($event)">
        <div class="heart" [class.favorite]="isFavorite"></div>
      </a>
    </div>

    <div class="flex flex-col ml-2 md:ml-4">
      <span class="font-bold text-2xl">{{team.name}}</span>
      <div class="flex items-center" *ngIf="!team.is_national">
        <img class="w-4 mr-1" src="../../assets/img/country.png" alt="Country Icon">
        <span class="text-sm">{{team.country}}</span>
      </div>
      <div class="flex items-center">
        <img class="w-4 mr-1" src="assets/img/stadium.png" alt="Stadium Icon">
        <span class="text-sm">{{team.venue_name}}</span>
      </div>
      <span class="text-sm" *ngIf="team.founded">Founded in {{team.founded}}</span>

    </div>
  </div>

  <div class="flex flex-col-reverse xl:flex-row my-4">
    <div class="w-full xl:w-3/5 xl:mr-8">
      <app-team-squad [teamId]="teamId"></app-team-squad>
      <app-team-statistics [teamId]="teamId"></app-team-statistics>

    </div>

    <div class="w-full xl:w-2/5">
      <app-matches *ngIf="fixtures"
                   [fixtures]="fixtures">
      </app-matches>
    </div>
  </div>
</div>


<ng-template #loadingView>
  <span>Loading...</span>
</ng-template>

