<div #container>
  <!-- Toggle -->
  <div class="mb-2">
    <app-tab-toggle [buttonLabels]="toggleOptions"
                    (activeChanged)="onToggleButtonClicked($event)">
    </app-tab-toggle>
  </div>

  <!--  All Fixtures-->
  <div *ngIf="activeToggleIndex === 0">
    <app-date-picker [startDate]="allFixturesDate"
                     (dateSelected)="onDateSelected($event)">
    </app-date-picker>

    <div *ngIf="!isAllLoading else loadingView">
      <div *ngIf="allFixtureGroups.length > 0 else noFixturesView">
        <app-fixture-group *ngFor="let fixtureGroup of allFixtureGroups; let i = index"
                           [fixtureGroup]="fixtureGroup"
                           [date]="getAllFixturesDate()"
                           [isCompactView]="isCompactView"
                           [isCollapsed]="!fixtureGroup.isFavorite && i >= minExpandedFixtureGroups">
        </app-fixture-group>
      </div>
    </div>

  </div>
  <!--  Live Fixtures-->
  <div *ngIf="activeToggleIndex === 1">
    <div *ngIf="!isLiveLoading else loadingView">
      <div *ngIf="liveFixtureGroups.length > 0 else noFixturesView">
        <app-fixture-group *ngFor="let fixtureGroup of liveFixtureGroups; let i = index"
                           [fixtureGroup]="fixtureGroup"
                           [date]="getLiveDate()"
                           [isCompactView]="isCompactView"
                           [isCollapsed]="!fixtureGroup.isFavorite && i >= minExpandedFixtureGroups">
        </app-fixture-group>
      </div>
    </div>
  </div>
</div>

<ng-template #loadingView>
  <app-loader></app-loader>
</ng-template>

<ng-template #noFixturesView>
  <span class="text-white">No data available</span>
</ng-template>
