<div #container>
  <!-- Toggle -->
  <div class="mb-2">
    <app-tab-toggle [buttonLabels]="toggleOptions"
                    (activeChanged)="onToggleButtonClicked($event)">
    </app-tab-toggle>
  </div>

  <!--  All Fixtures-->
  <div *ngIf="activeToggleIndex === 0">
    <app-date-picker [startDate]="allFixturesDate"
                     (dateSelected)="onDateSelected($event)">
    </app-date-picker>

    <app-loader *ngIf="isAllLoading"></app-loader>

    <app-fixture-group *ngFor="let fixtureGroup of allFixtureGroups; let i = index"
                       [fixtureGroup]="fixtureGroup"
                       [date]="getAllFixturesDate()"
                       [isCompactView]="isCompactView"
                       [isCollapsed]="!fixtureGroup.isFavorite && i >= minExpandedFixtureGroups">
    </app-fixture-group>
  </div>
  <!--  Live Fixtures-->
  <div *ngIf="activeToggleIndex === 1">

    <app-loader *ngIf="isLiveLoading"></app-loader>

    <app-fixture-group *ngFor="let fixtureGroup of liveFixtureGroups; let i = index"
                       [fixtureGroup]="fixtureGroup"
                       [date]="getLiveDate()"
                       [isCompactView]="isCompactView"
                       [isCollapsed]="!fixtureGroup.isFavorite && i >= minExpandedFixtureGroups">
    </app-fixture-group>
  </div>

</div>
